torch
torchaudio
torchvision
transformers
accelerate
bitsandbytes
peft
trl
sentencepiece
huggingface_hub
datasets

speechbrain
librosa
soundfile
edge-tts

opencv-python
numpy
Pillow

gradio
python-dotenv
azure-cognitiveservices-speech
